body{
    background-color:#fff;
    color: #000;
    margin-top: 20px;

}

a{
    background-color: #fff;;
    border-style: solid;
    color: #0454FF;
    border-radius: 10px;
}

.container{

    background-color: #08506f;
    border-radius: 25px;
    color:#fff;

}

table{
    font-style: oblique;
    text-align: center;


}


