body{
    background-color:#fff;
    color: #000;
    margin-top: 20px;

}

a{
    background-color: #fff;;
    border-style: solid;
    color: #0454FF;
    border-radius: 10px;
}

.container{

    background-color: #04FFFB;
    border-radius: 20px;
}


table{
    font-style: oblique;
    text-align: center;


}


